.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
