{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
  <table>
<tr>
<th><strong>Title</strong></th>

<th><strong>Librarian</strong></th>
<th><strong>Status</strong></th>
<th><stong>Due back</strong></th>

 <th><strong>Issuer</strong></th>
 <th><strong>Issued to</strong></th>
 <th><strong>Renew</strong></td>
</tr>  
    

      {% for bookinst in bookinstance_list %}
    <tr class="{% if bookinst.is_overdue %}text-danger{% endif %}">
       <td> <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>

       <td>({{ bookinst.librarian }})</td>

       <td>({{ bookinst.get_status_display }})</td>
      <td>({{ bookinst.due_back }})</td>

      <td>{{bookinst.issuer}}</td>
       <td><a href="{{bookinst.borrower.get_absolute_url}}"><strong>{{bookinst.borrower}}</strong></a></td> 
       <td> <a href="{% url "renew-book-librarian" bookinst.id %}">Renew</a></td>

</tr>
 
  {% endfor %}
</table>    
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
