{% extends "base_generic.html" %}
<h1>Paresh Hansda</h1>
{% block content %}

  <h1>Member: {{ borrower.name }}</h1>
  <img src="{{ borrower.image.url }}"style="float:right;width:62px;height:62px;" class="card-img-top img-fluid" alt="{{ borrower.name }}">
  <p><strong>Contact:</strong> <a href="">{{ borrower.contact_no }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Address:</strong> {{ borrower.address }}</p>
  <p><strong>Whatsapp:</strong> {{ borrower.whatsapp }}</p>
  <p><strong>Facebook:</strong> {{ person.facebook }}</p>
  <p><strong>Identy card No:</strong> {{ borrower.identy}}</p>
  {% if borrower.idcard %}
  <strong>view id</strong> <div class="container"><embed src="{{ borrower.idcard.url}}" type="application/pdf" width="100%" height="600px"/></div>
  {% else %}
   <p> ID in pdf NA</p>
  {% endif %}

<canvas id="mycanvas"></canvas>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in borrower.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}

        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
        <p><strong>Book:</strong> {{ copy.book }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Librarian:</strong> {{ copy.librarian }}</p>
    {% endfor %}
  </div>

<script>
pdfjsLib.getDocument({{ borrower.idcard.url}}).then(doc => {
  console.log("This file has" + doc._pdfInfo.numPages + "pages");

  doc.getPage(1).then(page =>{
    var myCanvas=document.getElementById("my_canvas");
    var context=myCanvas.getContext("2d");
    
    var viewport=page.getViewport(1);
    myCanvas.width=viewport.width;
    myCanvas.height=viewport.height;
    
    page.render({
    canvasContext:context,
    viewport:viewport

    });
  });
  }

  );
</script>
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.13.216/build/pdf.min.js"></script>

{% endblock %}
