<!-- simple.html -->
<!DOCTYPE html>
<html>
	<head>
            
		<meta charset="UTF-8" />
		<title>PDF.js Example</title>
	{% load static %}
                <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
               
                <script src="{% static "/pdf.js" %}"></script>
		<script src="{% static "/simple.js" %}"></script>
	</head>
	<body>
<h1>pdf.js</h1>
		<canvas id="pdf"></canvas>


<script>
// simple.js
(async () => {
	const loadingTask = PDFJS.getDocument('/certificate.pdf');
	const pdf = await loadingTask.promise;

	// Load information from the first page.
	const page = await pdf.getPage(1);

	const scale = 1;
	const viewport = page.getViewport(scale);

	// Apply page dimensions to the `<canvas>` element.
	const canvas = document.getElementById('pdf');
	const context = canvas.getContext('2d');
	canvas.height = viewport.height;
	canvas.width = viewport.width;

	// Render the page into the `<canvas>` element.
	const renderContext = {
		canvasContext: context,
		viewport: viewport,
	};
	await page.render(renderContext);
	console.log('Page rendered!');
})();
</script>

	</body>


</html>
